{% extends 'news/base.html' %}
{% load static %}

{% block title %} Parolni Tiklash {% endblock title %}

{% block content %}
    <h1>
        Parolni Tiklash
    </h1>
    <p>
        Parolni tiklash uchun quyidagi formani to'ldiring
    </p>
    {% if validlink %}
        <p>Iltimos yangi parolni ikki marotaba kiriting</p>
        <form method="post">{% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Parolni almashtirish</button>
        </form>
    {% else %}
        <p>Noto'g'ri havoladan foydalandingiz, u avvalroq foydalanilgan bo'lishi yoki yaroqlilik mudddati eskirgan bo'lishi mumkin</p>
    {% endif %}
{% endblock content %}